resources/ScheduleCheck.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FileSchedule">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="LastRun" type="xs:dateTime"/>
        <xs:element name="AppSchedule" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FILE_PATTERN"/>
              <xs:element type="xs:string" name="PATH"/>
              <xs:element name="EXPECTED" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="DAYS" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="MONTHS" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="EARLIEST"/>
                    <xs:element type="xs:string" name="LATEST"/>
                    <xs:element type="xs:string" name="FAIL_MSG"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
